

.vagrant/

### Terraform ###

**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
.terraformrc
terraform.rc
terraform.rcconfigurationAsCode/minikubeProjects/minikube-objects-poc/config-maps-pocs/ConfigMap-CoronJob.yaml



### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Mac OS ###

**/.DS_Store




